{% extends "/layouts/headless.html.twig" %}

{% block title %}{{'Register'|trans}}{% endblock %}

{% block body %}
    <div class="w-full h-full flex flex-col justify-center items-center">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1>Register</h1>
        <div class="">
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
